<nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
    <a class="navbar-brand p-3" routerLink="/home">TrackEmAll</a>

    <div class="navbar-nav w-50 m-auto p-2">
        <form [formGroup]='searchForm' (ngSubmit)="onSubmit()" class="input-group input-group-lg">
            <input class="form-control" formControlName="searchKey" type="text" placeholder="Search"
                (keyup.enter)="onSubmit()" (keyup)="keywordChanged.next($event)" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let item_details of search_list"
                    (click)="searchForm.value.searchKey=item_details.item_name;onSubmit()">
                    <img src="{{item_details.item_img_url}}" class="group_item_img">
                    {{item_details.item_name}}
                </mat-option>
            </mat-autocomplete>
            <div class="input-group-append">
                <button mat-raised-button color="primary" class="rounded-0" type="submit"><i
                        class="fa fa-search"></i></button>
            </div>
        </form>
        <button mat-raised-button color="secondary" class="rounded-0" routerLink="/addnewitem">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-raised-button color="secondary" class="rounded-0" routerLink="/groups">
            <mat-icon>content_copy</mat-icon>
        </button>
    </div>

    <input type="text" class="m-2" style="width: 200px;" [value]="hostAddress" (keyup)="updateHostAddress($event)">
</nav>